src/main/resources/integrations/opene/soap/callback/callback.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.1 svn-revision#6ef5f7eb9a938dbc4562f25f8fa0b67cc4ff2dbb. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.1 svn-revision#6ef5f7eb9a938dbc4562f25f8fa0b67cc4ff2dbb. -->
<definitions
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://callback.integration.flowengine.nordicpeak.com/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://callback.integration.flowengine.nordicpeak.com/" name="IntegrationCallback">
    <import namespace="http://www.oeplatform.org/version/1.0/schemas/integration/callback" location="callback2.wsdl"/>
    <binding xmlns:ns1="http://www.oeplatform.org/version/1.0/schemas/integration/callback" name="IntegrationCallbackPortBinding" type="ns1:IntegrationCallback">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="addMessageAsOwner">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AccessDeniedException">
                <soap:fault name="AccessDeniedException" use="literal"/>
            </fault>
            <fault name="FlowInstanceNotFoundException">
                <soap:fault name="FlowInstanceNotFoundException" use="literal"/>
            </fault>
        </operation>
        <operation name="confirmDelivery">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AccessDeniedException">
                <soap:fault name="AccessDeniedException" use="literal"/>
            </fault>
            <fault name="FlowInstanceNotFoundException">
                <soap:fault name="FlowInstanceNotFoundException" use="literal"/>
            </fault>
        </operation>
        <operation name="deleteInstance">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AccessDeniedException">
                <soap:fault name="AccessDeniedException" use="literal"/>
            </fault>
            <fault name="FlowInstanceNotFoundException">
                <soap:fault name="FlowInstanceNotFoundException" use="literal"/>
            </fault>
        </operation>
        <operation name="getManagers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AccessDeniedException">
                <soap:fault name="AccessDeniedException" use="literal"/>
            </fault>
            <fault name="FlowInstanceNotFoundException">
                <soap:fault name="FlowInstanceNotFoundException" use="literal"/>
            </fault>
        </operation>
        <operation name="setManagers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AccessDeniedException">
                <soap:fault name="AccessDeniedException" use="literal"/>
            </fault>
            <fault name="FlowInstanceNotFoundException">
                <soap:fault name="FlowInstanceNotFoundException" use="literal"/>
            </fault>
        </operation>
        <operation name="addInternalMessage">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AccessDeniedException">
                <soap:fault name="AccessDeniedException" use="literal"/>
            </fault>
            <fault name="FlowInstanceNotFoundException">
                <soap:fault name="FlowInstanceNotFoundException" use="literal"/>
            </fault>
        </operation>
        <operation name="addMessage">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AccessDeniedException">
                <soap:fault name="AccessDeniedException" use="literal"/>
            </fault>
            <fault name="FlowInstanceNotFoundException">
                <soap:fault name="FlowInstanceNotFoundException" use="literal"/>
            </fault>
        </operation>
        <operation name="addEvent">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AccessDeniedException">
                <soap:fault name="AccessDeniedException" use="literal"/>
            </fault>
            <fault name="FlowInstanceNotFoundException">
                <soap:fault name="FlowInstanceNotFoundException" use="literal"/>
            </fault>
        </operation>
        <operation name="setAttribute">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AccessDeniedException">
                <soap:fault name="AccessDeniedException" use="literal"/>
            </fault>
            <fault name="FlowInstanceNotFoundException">
                <soap:fault name="FlowInstanceNotFoundException" use="literal"/>
            </fault>
        </operation>
        <operation name="setStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="AccessDeniedException">
                <soap:fault name="AccessDeniedException" use="literal"/>
            </fault>
            <fault name="FlowInstanceNotFoundException">
                <soap:fault name="FlowInstanceNotFoundException" use="literal"/>
            </fault>
            <fault name="StatusNotFoundException">
                <soap:fault name="StatusNotFoundException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="IntegrationCallback">
        <port name="IntegrationCallbackPort" binding="tns:IntegrationCallbackPortBinding">
            <soap:address location="https://sundsvalltest.e-tjansteportalen.se:443/api/callback"/>
        </port>
    </service>
</definitions>
